
/*CONTAINERS */
#deal-wrap, #play-wrap {
  min-height: 120px;
  max-width: 1000px;
  opacity:0.9;
  filter:alpha(opacity=90);

}
#deal-data, #play-data {
  padding: 5px;
  color: #fff;
  opacity:0.9;
  filter:alpha(opacity=90);
}
#deal-stand, #play-stand {
  display: none;
  padding: 2px;
  background: black;
  color: #fff;
}
#deal-stand.stood, #play-stand.stood { display: inline-block; }

/*CARDS */
#deal-cards, #play-cards {
  display: grid;
  text-align: center;
  float: none;
  position: absolute;
  top: 40%;
  left: 41.5%;
  grid-template-columns: repeat(6, min-content);
  grid-gap: 5px;
  padding: 5px;
}
.bj-card {
  box-sizing: border-box;
  font-size: 2.5em;
  text-align: center;
  padding: 2px;
  width: 55px;
  height: 65px;
  background: #fff;
  border: 1px solid #eaeaea;
}

/*DEALER'S CARDS */
#deal-wrap { text-align: center;float: none;position: absolute;top: 35%;left: 50%;transform: translate(-50%, -50%);height: 120px;width: 1000px; }
#deal-data { text-align: center}
#deal-first .front { display: none; }
#deal-first.show .back { display: none; }
#deal-first.show .front { display: block; }


/*PLAYER'S CARDS */
#play-wrap { text-align: center;float: none;position: absolute;top: 55%;left: 50%;transform: translate(-50%, -50%);height: 120px;width: 1000px; }
#play-data { text-align: center; }

/*PLAY CONTROLS */
#play-control {
  display: grid;
  width: 300px;
  float: none;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  grid-template-columns: 100%;
  grid-gap: 10px;
  padding: 15px;

}
#play-control input {
  box-sizing: border-box;
  font-size: 15px;
  cursor: pointer;
  border: 0;
  padding: 10px 0;
  background: black;
  color: #fff;
  width: 100%;
  opacity:0.9;
  filter:alpha(opacity=90);
}
#playc-hit, #playc-stand { display: none; }
#play-control.started { grid-template-columns: 50% 50%; }
#play-control.started #playc-start { display: none; }
#play-control.started #playc-hit, #play-control.started #playc-stand { display: block; }