
/*CONTAINERS */
#deal-wrap, #play-wrap {
  min-height: 120px;
}
#deal-data, #play-data {
  padding: 10px;
  color: #fff;
}
#deal-stand, #play-stand {
  display: none;
  padding: 5px;
  background: black;
  color: #fff;
}
#deal-stand.stood, #play-stand.stood { display: inline-block; }

/*CARDS */
#deal-cards, #play-cards {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(4, min-content);
  grid-gap: 10px;
  padding: 10px;
}
.bj-card {
  box-sizing: border-box;
  font-size: 2em;
  text-align: center;
  padding: 10px;
  width: 100%;
  background: #fff;
  border: 1px solid #eaeaea;
}

/*DEALER'S CARDS */
#deal-wrap { background: green;text-align: center }
#deal-data { background: green; }
#deal-first .front { display: none; }
#deal-first.show .back { display: none; }
#deal-first.show .front { display: block; }

hr.new1 {
  border-top: 5px dashed black;
}


/*PLAYER'S CARDS */
#play-wrap { background: green;text-align: center }
#play-data { background: green;text-align: center }

/*PLAY CONTROLS */
#play-control {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 10px;
  padding: 10px;
  background: #eee;
}
#play-control input {
  box-sizing: border-box;
  cursor: pointer;
  border: 0;
  padding: 10px 0;
  background: black;
  color: #fff;
  width: 100%;
}
#playc-hit, #playc-stand { display: none; }
#play-control.started { grid-template-columns: 50% 50%; }
#play-control.started #playc-start { display: none; }
#play-control.started #playc-hit, #play-control.started #playc-stand { display: block; }